# =========================
# USER UPLOADS & OCR TEMP
# =========================
backend/assets/uploads/
backend/assets/ocr/tmp/
backend/assets/ocr/debug_ocr.txt

# =========================
# FILE BESAR
# =========================
*.pdf
*.png
*.jpg
*.jpeg

# =========================
# LOG & TEMP
# =========================
*.log
*.tmp

# =========================
# SYSTEM & IDE
# =========================
.vscode/
.DS_Store
Thumbs.db
