# =========================
# USER UPLOADS & OCR TEMP
# =========================
app/assets/uploads/
app/assets/ocr/tmp/
app/assets/ocr/debug_ocr.txt

# =========================
# FILE BESAR
# =========================
uploads/*.pdf
uploads/*.jpg
uploads/*.png
uploads/*.jpeg

# =========================
# LOG & TEMP
# =========================
*.log
*.tmp

# =========================
# SYSTEM & IDE
# =========================
.vscode/
.DS_Store
Thumbs.db
